%section{id: "records"}
  - if @users.any?
    .pagination_container{style: "min-height: 246px;"}
      %ul{style: "padding-left:0px;"}
        = render partial: 'refinery/groups/admin/users/user', collection: @users, locals: {selecting: false}