
- unless @users.empty?

  .users_selection
    = will_paginate @users, :remote => false
  
    .pagination_container{style: "min-height: 246px;"}
    
      %ul{style: "padding-left:0px;"}
        = render partial: 'user', collection: @users, locals: {selecting: selecting}
  
      - if selecting
        %input{type: "submit", value:"Save"}

:javascript
  vals = $("input#user_ids").attr("value");
  if(vals.length > 0){
    vals_arr = vals.split(",");
    $("input[name='user_check_item']").each(function(){
      if(vals_arr.indexOf($(this).attr("value")) != -1){
        $(this).attr("checked", "checked");
      }
    });
  }

  function addOrRemoveUser(id, addOrRemove){
    val = $("input#user_ids").attr("value");
    val_arr = []
    if(val.length > 0){ val_arr = val.split(","); }
    if(addOrRemove){
      val_arr.push(id);
    }else{
      val_arr.splice(val_arr.indexOf(id), 1)
    }
    $("input#user_ids").attr("value", val_arr.join());
    console.log($("input#user_ids"))
  }

  $('.pagination a').attr('data-remote', 'true');
  $("input[name='user_check_item']").click(function(){
    addOrRemoveUser($(this).attr("value"), $(this).is(':checked'))
  });
