
- unless @users.empty?

  .users_selection
    = will_paginate @users, :remote => false
  
    .pagination_container{style: "min-height: 246px;"}
    
      %ul{style: "padding-left:0px;"}
        = render partial: 'user', collection: @users, locals: {selecting: selecting}
  
      - if selecting
        %input{type: "submit", value:"Save"}

