*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.ruby-gemset
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
/spec/log/*
dummy_dev
dummy_test
**.orig
rerun.txt
pickle-email-*.html
.project
config/initializers/secret_token.rb
Gemfile.lock
